footer.footer
    .footer__logo
        .footer__logo-logo akshat trivedi
        span.copy All &copy; rights reserved
    .footer__stuff
        ul.important__links
            li.important__links-link
                a(href='/') Home
            li.important__links-link
                a(href='/html&css') HTML &amp; CSS
            li.important__links-link
                a(href='/javascript') JavaScript
            li.important__links-link
                a(href='/nodejs') Node Js
            li.important__links-link
                a(href='/mongodb') MongoDB
        .social
            a.social__link(href='https://www.linkedin.com/in/akshat-trivedi-18b8301a5/' target='__blank')
                svg.icons.social__icon
                    use(xlink:href='/svg/sprite.svg#icon-linkedin-with-circle')
            a.social__link(href='https://www.instagram.com/akshat_triv' target='__blank')
                svg.icons.social__icon
                    use(xlink:href='/svg/sprite.svg#icon-instagram-with-circle')
            a.social__link(href='#' target='__blank')
                svg.icons.social__icon
                    use(xlink:href='/svg/sprite.svg#icon-facebook-with-circle')        
