* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-moz-selection {
  background-color: var(--Primary-color);
  color: #fff;
}
::selection {
  background-color: var(--Primary-color);
  color: #fff;
}
:root {
  --Primary-color: #3489db;
  --Light-grey-1: #faf9f9;
  --Light-grey-2: #f4f2f2;
  --Light-grey-3: #f0eeee;
  --Light-grey-4: #ccc;
  --Dark-grey-1: #333;
  --Dark-grey-2: #777;
  --Dark-grey-3: #999;
}
html {
  font-size: 62.5%;
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 87.5%;
  }
}
@media only screen and (min-width: 87.5em) {
  html {
    font-size: 68.75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 43.75%;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #777;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: currentColor;
}
h2 {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  font-size: 3.5rem;
  display: inline-block;
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  background-image: linear-gradient(to right, #f1f1f1, #f9f9f9);
  color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  margin-bottom: 3.5rem;
}
section {
  margin-bottom: 6rem !important;
}
h4 {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.3rem;
  transition: all 0.2s;
  background-image: linear-gradient(to right, #111, #444);
  color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 37.5em) {
  h4 {
    font-size: 2.7rem;
  }
}
h1 {
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  font-size: 5rem;
  letter-spacing: 0.2rem;
  word-spacing: 0.3rem;
  transition: all 0.2s;
  background-image: linear-gradient(to right, #111, #444);
  color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 56.25em) {
  h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  h1 {
    font-size: 3.5rem;
  }
}
.paragraph {
  font-size: 2rem;
  word-spacing: 2px;
  letter-spacing: 1px;
  line-height: 2.5rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .paragraph {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
.search {
  align-self: center;
  display: flex;
  align-items: center;
  width: 30%;
  margin-right: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .search {
    width: 43%;
    margin-right: unset;
  }
}
.search__bar {
  height: 4rem;
  width: 100%;
  font-size: 1.6rem;
  color: #555;
  border: none;
  outline: none;
  padding: 0 2rem;
  background-color: var(--Light-grey-3);
  border-radius: 5px;
}
.search__bar::-webkit-input-placeholder {
  color: var(--Dark-grey-2);
}
@media only screen and (max-width: 62.5em) {
  .search__bar {
    font-size: 2rem;
  }
}
.search__button {
  height: 2.5rem;
  width: 2.5rem;
  transform: translateX(-3rem);
  border: none;
  outline: none;
  background-color: var(--Light-grey-3);
}
.search__button:hover {
  cursor: pointer;
}
.search__icon {
  height: 100%;
  width: 100%;
  fill: var(--Light-grey-4);
}
.navigation {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 62.5em) {
  .navigation {
    align-self: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation {
    overflow-x: scroll;
  }
}
.navigation__item {
  padding: 3rem 0;
  transition: all 0.3s;
}
@media only screen and (max-width: 62.5em) {
  .navigation__item {
    padding: 4rem 0 1.4rem 0;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__item {
    min-width: 13rem;
    text-align: center;
  }
}
.navigation__item:not(:last-of-type) {
  margin-right: 3rem;
}
@media only screen and (max-width: 62.5em) {
  .navigation__item:not(:last-of-type) {
    margin-right: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .navigation__item:not(:last-of-type) {
    margin-right: 3rem;
  }
}
.navigation__item:hover {
  border-bottom: 2px solid var(--Primary-color);
  cursor: pointer;
}
.navigation__item--active {
  border-bottom: 2px solid var(--Primary-color);
}
.code {
  background-color: #f6f6f6;
  border-radius: 5px;
  width: 100%;
  padding: 3rem;
  margin-bottom: 3rem;
  line-height: 2.8rem;
}

.alert {
  position: absolute;
  top: 10%;
  max-width: 90%;
  left: 50%;
  padding: 3rem 6rem;
  border-radius: 5px;
  color: #f7f7f7;
  transform: translate(-50%, -50%);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 10000;
  animation: alerts 1s ease-in-out;
}

.alert--success {
  background-color: rgba(12, 134, 248, 0.8);
}

.alert--fail {
  background-color: rgba(255, 27, 27, 0.8);
}

@keyframes alerts {
  0% {
    opacity: 0;
    transform: translate(-50%, -50rem);
  }

  90% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.error {
  background-color: #fd7272;
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.4rem #6d214f inset;
  color: #6d214f;
  font-size: 2rem;
  width: 80%;
  margin: 10rem auto;
}

.story {
  width: 100%;
}
.story__cover {
  width: 100%;
  height: 80%;
  overflow: hidden;
}
.story__cover-image {
  width: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
}
.story__title {
  font-size: inherit;
  font-weight: 600;
  color: var(--Dark-grey-1);
  letter-spacing: 0.1rem;
}
.story__details {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--Dark-grey-2);
  display: block;
  margin-top: 0.5rem;
}
.social {
  display: flex;
  color: #fff;
}
.social__link:link,
.social__link:visited,
.social__link:active,
.social__link:hover {
  color: #fff;
}
.social__link:link:not(:last-of-type),
.social__link:visited:not(:last-of-type),
.social__link:active:not(:last-of-type),
.social__link:hover:not(:last-of-type) {
  margin-right: 2rem;
}
.social__icon {
  width: 3rem;
  height: 3rem;
  fill: #fff;
}
.social__icon:not(:last-of-type) {
  margin-right: 2rem;
}
.share {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.share__link:link:not(:last-of-type),
.share__link:visited:not(:last-of-type),
.share__link:active:not(:last-of-type),
.share__link:hover:not(:last-of-type) {
  margin-right: 2rem;
}
.share #facebook:link,
.share #facebook:visited,
.share #facebook:active,
.share #facebook:hover {
  color: #1877f2;
}
.share #linkedin:link,
.share #linkedin:visited,
.share #linkedin:active,
.share #linkedin:hover {
  color: #0174b1;
}
.share #twitter:link,
.share #twitter:visited,
.share #twitter:active,
.share #twitter:hover {
  color: #00aced;
}
.share span {
  margin-right: 2rem;
}
.share__icons {
  display: flex;
}
.share__icon {
  width: 3rem;
  height: 3rem;
  fill: currentColor;
}
.share__icon:not(:last-of-type) {
  margin-right: 2rem;
}
.like {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .like {
    justify-content: flex-start;
  }
}
.like-1 {
  display: flex;
  align-items: center;
}
.like-2 {
  display: flex;
  align-items: center;
}
.like__icon {
  width: 3rem;
  height: 3rem;
  fill: currentColor;
  margin-right: 1rem;
  display: inline-block;
}

.li--active {
  fill: var(--Primary-color);
}

.like__counter {
  font-size: 1.4rem;
  display: inline-block;
  margin-right: 2rem;
}
.name,
.comment {
  height: 4rem;
  width: 100%;
  font-size: 1.6rem;
  color: #555;
  border: none;
  outline: none;
  padding: 0 2rem;
  background-color: #f9f9f9;
  border-radius: 5px;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .name,
  .comment {
    height: 6rem;
    font-size: 2rem;
  }
}
.comment {
  flex: 1;
  font-family: 'Open sans';
  margin-bottom: 1rem;
  padding-top: 2rem;
}
.submit-btn {
  color: #25ccf7;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #25ccf7;
  padding: 3px;
  width: 10rem;
  font-size: 1.6rem;
  transition: all 0.2s;
  outline: none;
  margin-bottom: 2rem;
}
.submit-btn:hover {
  background-color: #25ccf7;
  color: #fff;
  cursor: pointer;
}
.person {
  font-size: inherit;
  color: #444;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.message {
  font-size: inherit;
  color: #666;
  font-weight: 400;
}
.message:not(:last-of-type) {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #bbb8b8;
}
@media only screen and (max-width: 56.25em) {
  .message {
    font-size: 2rem;
  }
}
.header {
  width: 100%;
  height: 8rem;
  padding: 4rem 2rem;
  background-color: var(--Light-grey-1);
  display: flex;
  align-items: stretch;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 62.5em) {
  .header {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2rem 2rem;
    height: 14rem;
  }
}
.header__icon {
  align-self: center;
  margin-right: auto;
  font-weight: 400;
  font-size: 3rem;
  display: inline-block;
  background-image: linear-gradient(to right bottom, #25ccf7, #3b3b98);
  color: transparent;
  -webkit-background-clip: text;
}
.header__icon::after {
  content: '';
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background-color: var(--Primary-color);
  -webkit-mask-image: url(./../svg/SVG/chevron-thin-right.svg);
  -webkit-mask-size: cover;
}
.header__icon::before {
  content: ' ';
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: var(--Primary-color);
  -webkit-mask-image: url(./../svg/SVG/chevron-thin-left.svg);
  -webkit-mask-size: cover;
}
main {
  padding: 4rem 0;
}
.row {
  max-width: 120rem;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .row {
    width: 90%;
  }
}
.main-story {
  width: 100%;
  display: flex;
  margin-bottom: 6rem;
}
@media only screen and (max-width: 56.25em) {
  .main-story {
    flex-direction: column;
  }
}
.main-story__feature {
  flex: 0 0 70%;
  margin-right: 3.5rem;
  font-size: 2.6rem;
}
@media only screen and (max-width: 56.25em) {
  .main-story__feature {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
.main-story__subs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}
@media only screen and (max-width: 56.25em) {
  .main-story__subs {
    flex-direction: row;
  }
}
.main-story__subs .story {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .main-story__subs .story {
    margin-bottom: 0;
  }
  .main-story__subs .story:not(:last-of-type) {
    margin-right: 2rem;
  }
}
.features {
  width: 100%;
  padding: 5rem 0;
  background-image: linear-gradient(to right bottom, #25ccf7, #3b3b98);
  font-size: 1.8rem;
}
@media only screen and (max-width: 56.25em) {
  .features {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .features .story {
    flex: 0 0 40rem;
  }
}
.features .story__title {
  color: #f7f7f7;
}
.features .story__details {
  color: #f9f9f9;
}
.features .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}
@media only screen and (max-width: 56.25em) {
  .features .row {
    overflow-x: scroll;
    justify-content: flex-start;
  }
}
.features .row > *:not(:last-of-type) {
  margin-right: 5rem;
}
.wall {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .wall {
    flex-direction: column;
  }
}
.wall__features {
  flex: 0 0 70%;
  padding-right: 2.5rem;
  font-size: 1.8rem;
  margin-right: 2.5rem;
  border-right: 2px solid var(--Light-grey-3);
}
@media only screen and (max-width: 56.25em) {
  .wall__features {
    padding-right: 0;
    margin-right: 0;
    border: none;
    flex: 0 0 100%;
    margin-bottom: 2rem;
    font-size: 2.3rem;
  }
}
.wall__subs {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
}
.wall__subs-article {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
}
@media only screen and (max-width: 56.25em) {
  .wall__subs-article {
    flex-direction: column-reverse;
  }
}
.wall__subs-article__stories {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.8rem;
}
@media only screen and (max-width: 56.25em) {
  .wall__subs-article__stories {
    font-size: 2.4rem;
  }
}
.wall__subs-article__stories .story:not(:last-of-type) {
  margin-bottom: 2.7rem;
}
.wall__subs-article__like {
  background-color: #fefefe;
  width: 100%;
  box-shadow: 0 3px 0.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 3px;
  margin-top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .wall__subs-article__like {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .wall__subs {
    font-size: 2.3rem;
  }
}
.wall__subs .story {
  margin-bottom: 2.7rem;
}
.comments {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .comments {
    flex-direction: column;
  }
}
.comments span {
  font-size: 3rem;
  font-weight: 400;
  display: block;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to right, #25ccf7, #3b3b98);
  color: transparent;
  -webkit-background-clip: text;
}
.comments__add {
  flex: 0 0 40%;
  padding: 2rem;
  padding-bottom: unset;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .comments__add {
    padding: unset;
    margin-bottom: 4rem;
    height: 40rem;
  }
}
.comments__present {
  flex: 1;
  background-color: #fefefe;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 2rem;
  overflow-y: scroll;
  height: 30rem;
  font-size: 1.6rem;
}
@media only screen and (max-width: 56.25em) {
  .comments__present {
    font-size: 2.3rem;
  }
}
.comments__present::-webkit-scrollbar {
  width: 1rem;
}
.comments__present::-webkit-scrollbar-track {
  background-color: #fafafa;
}
.comments__present::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    to bottom,
    rgba(37, 204, 247, 0.9) 50%,
    rgba(59, 59, 152, 0.9)
  );
}
.comments__present::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(to bottom, #25ccf7 50%, #3b3b98);
}
.grids {
  display: grid;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2rem;
}
.footer {
  width: 100%;
  position: relative;
  padding: 5rem 2rem;
  background-image: linear-gradient(to right bottom, #25ccf7, #3b3b98);
  color: #f7f7f7;
}
.footer__stuff {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 37.5em) {
  .footer__stuff {
    margin-top: 10rem;
  }
}
.footer__logo {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
}
@media only screen and (max-width: 37.5em) {
  .footer__logo {
    top: 20%;
    min-width: 40rem;
    text-align: center;
  }
}
.footer__logo-logo {
  width: 100%;
  background-image: linear-gradient(to right, #f0f0f0, white);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
}
.footer__logo-logo::after {
  content: '';
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  background-color: #f7f7f7;
  -webkit-mask-image: url(./../svg/SVG/chevron-thin-right.svg);
  -webkit-mask-size: cover;
}
.footer__logo-logo::before {
  content: ' ';
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #f7f7f7;
  -webkit-mask-image: url(./../svg/SVG/chevron-thin-left.svg);
  -webkit-mask-size: cover;
}
.important__links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 30%;
  justify-content: flex-start;
}
@media only screen and (max-width: 37.5em) {
  .important__links {
    flex: 0 0 50%;
  }
}
.important__links-link {
  padding: 1rem;
}
@media only screen and (max-width: 56.25em) {
  .important__links-link {
    font-size: 1.8rem;
  }
}
.copy {
  display: block;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1rem;
}
.article-image {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
